<div class="container-fuild">
    <!-- start scollapse estructura electoral -->
    <p for="">Coordinador Estructura Electoral</p>
    <div id="accordionEstructuraElectoral">
        <div class="accordion-group">
            <!-- start card estructura electoral -->
            <div class="card">
                <div class="card-header bg-secondary " id="headingOne">
                    <div class="row" style="margin-bottom: -8px;">
                        <div class="col">
                            <h5>
                                <button *ngIf="coordinadorEstructuraElectoral" (click)="buildModalCoordinadorEstructuraElectoral()" class="btn btn-link text-white" data-toggle="modal" data-target="#modalDetailPerson" title="Mostrar Detalle de esta Persona">
                                    {{ coordinadorEstructuraElectoral.idPersona.nombre + ' '+ coordinadorEstructuraElectoral.idPersona.appPaterno + ' ' + coordinadorEstructuraElectoral.idPersona.appMaterno}} <i class="fa fa-info-circle"></i>
                                </button>
                            </h5>
                        </div>
                        <div class="col d-flex justify-content-end align-items-center">
                            <label style="cursor: pointer;" aria-hidden="true" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" title="Desplegar Lista">
                                <i class="fa fa-arrow-circle-down text-white"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- start collapse representante general -->
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionEstructuraElectoral">
                    <div class="card-body">
                        <div *ngIf="loadingRepresentanteGeneral" class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div *ngIf="!loadingRepresentanteGeneral" id="accordionRepresentanteGeneral">
                            <!-- start card representante general -->
                            <p>
                                Representante General ( {{ representanteGeneral ? representanteGeneral.length : 0}} )
                                <label (click)=" reset(); validacionPersonRegistro = 1;">
                                    <i *ngIf="coordinadorEstructuraElectoral?.totalRepresentanteGeneral < 20" class="fa fa-plus-circle" aria-hidden="true" style="cursor: pointer;" data-toggle="modal" data-target="#modalRegistroPersona" title="Registrar nueva persona"></i>
                                </label>
                            </p>
                            <div class="card" *ngFor="let item of representanteGeneral">
                                <div class="card-header bg-success " id="{{ 'heading' + item.idPersona.nombre + item.idPersona.idPersona }}">
                                    <div class="row" style="margin-bottom: -8px;">
                                        <div class="col">
                                            <h5>
                                                <button (click)="buildModalRepresentanteGeneral(item)" class="btn btn-link text-white" data-toggle="modal" data-target="#modalDetailPerson" title="Mostrar Detalle de esta Persona">
                                                    {{ item.idPersona.nombre + ' ' + item.idPersona.appPaterno+ ' ' + item.idPersona.appMaterno }} <i class="fa fa-info-circle"></i>
                                                </button>
                                            </h5>

                                        </div>
                                        <div class="col d-flex justify-content-end align-items-center">
                                            <label (click)="getRepresentanteSeccional(item.idRepresentanteGeneral)" style="cursor: pointer;" aria-hidden="true" data-toggle="collapse" [attr.data-target]="'#collapse' + item.idPersona.nombre + item.idPersona.idPersona" aria-expanded="true" [attr.aria-controls]="'collapse' + item.idPersona.nombre + item.idPersona.idPersona"
                                                title="Desplegar Lista">
                                                <i class="fa fa-arrow-circle-down text-white"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- start collapse Respresentante Seccional  -->
                                <div id="{{ 'collapse' + item.idPersona.nombre + item.idPersona.idPersona }}" class="collapse" [attr.aria-labelledby]="'heading' + item.idPersona.nombre + item.idPersona.idPersona" data-parent="#accordionRepresentanteGeneral">
                                    <div class="card-body">
                                        <div *ngIf="loadingRepresentanteSeccional" class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div *ngIf="!loadingRepresentanteSeccional" id="accordionRepresentanteSeccional">
                                            <p>
                                                Representante Seccional ( {{ representanteSeccional ? representanteSeccional.length : 0}} )
                                                <label (click)=" reset(); validacionPersonRegistro = 2;">
                                                    <i *ngIf="coordinadorEstructuraElectoral.totalRepresentanteSeccional < 40" class="fa fa-plus-circle" aria-hidden="true" style="cursor: pointer;" data-toggle="modal" data-target="#modalRegistroPersona" title="Registrar nueva persona"></i>
                                                </label>
                                            </p>
                                            <!-- start card Representante seccional -->
                                            <div class="card" *ngFor="let item of representanteSeccional">
                                                <div class="card-header bg-danger " id="{{ 'heading' + item.idPersona.nombre + item.idPersona.idPersona }}">
                                                    <div class="row" style="margin-bottom: -8px;">
                                                        <div class="col">
                                                            <h5>
                                                                <button (click)="buildModalRepresentanteSeccional(item)" class="btn btn-link text-white" data-toggle="modal" data-target="#modalDetailPerson" title="Mostrar Detalle de esta Persona">
                                                                    {{ item.idPersona.nombre + ' ' + item.idPersona.appPaterno+ ' ' + item.idPersona.appMaterno }} - {{item.numeroSeccion}} <i class="fa fa-info-circle"></i>
                                                                </button>
                                                            </h5>

                                                        </div>
                                                        <div class="col d-flex justify-content-end align-items-center">
                                                            <label (click)="getRepresentanteCasilla(item.idRepresentanteSeccional)" style="cursor: pointer;" aria-hidden="true" data-toggle="collapse" [attr.data-target]="'#collapse' + item.idPersona.nombre + item.idPersona.idPersona" aria-expanded="true" [attr.aria-controls]="'collapse' + item.idPersona.nombre + item.idPersona.idPersona"
                                                                title="Desplegar Lista">
                                                                <i class="fa fa-arrow-circle-down text-white"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- start collapse Respresentante Casilla  -->
                                                <div id="{{ 'collapse' + item.idPersona.nombre + item.idPersona.idPersona }}" class="collapse" [attr.aria-labelledby]="'heading' + item.idPersona.nombre + item.idPersona.idPersona" data-parent="#accordionRepresentanteSeccional">
                                                    <div class="card-body">
                                                        <div *ngIf="loadingRespresentateCasilla" class="spinner-border text-primary" role="status">
                                                            <span class="sr-only">Loading...</span>
                                                        </div>
                                                        <div *ngIf="!loadingRepresentanteSeccional">
                                                            <p>
                                                                Respresentante Casilla ( {{ respresentateCasilla ? respresentateCasilla.length : 0}} )
                                                                <label (click)=" reset(); validacionPersonRegistro = 3;">
                                                                    <i *ngIf="coordinadorEstructuraElectoral.totalRepresentanteCasilla < 160" class="fa fa-plus-circle" aria-hidden="true" style="cursor: pointer;" data-toggle="modal" data-target="#modalRegistroPersona" title="Registrar nueva persona"></i>
                                                                </label>
                                                            </p>
                                                            <!-- start card Respresentante Casilla -->
                                                            <div class="card" *ngFor="let item of respresentateCasilla">
                                                                <div class="card-header bg-warning" id="{{ 'heading' + item.idPersona.nombre + item.idPersona.idPersona }}">
                                                                    <div class="row" style="margin-bottom: -8px;">
                                                                        <div class="col">
                                                                            <h5>
                                                                                <button (click)="buildModalRepresentanteCasilla(item)" class="btn btn-link text-white" data-toggle="modal" data-target="#modalDetailPerson" title="Mostrar Detalle de esta Persona">
                                                                                    {{ item.idPersona.nombre + ' ' + item.idPersona.appPaterno+ ' ' + item.idPersona.appMaterno }} <i class="fa fa-info-circle"></i>
                                                                                </button>
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- start card Respresentante Casilla -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- start collapse Respresentante Casilla  -->
                                            </div>
                                            <!-- end card Representante seccional -->
                                        </div>
                                    </div>
                                </div>
                                <!-- end collapse Respresentante Seccional  -->
                            </div>
                            <!-- end card representante general -->
                        </div>
                    </div>
                </div>
                <!-- end collapse representante general -->
            </div>
            <!-- end card estructura electoral -->
        </div>
    </div>
    <!-- end scollapse estructura electoral -->
</div>




<!-- Modal -->
<div class="modal fade" id="modalDetailPerson" tabindex="-1" role="dialog" aria-labelledby="modalDetailPersonTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Detalle Persona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" *ngIf="detallePersonaModal && areaModal">
                <!-- start informacion de usuario -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="{{ detallePersonaModal.nombre + ' ' + detallePersonaModal.appPaterno + ' ' + detallePersonaModal.appMaterno }}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Usuario Facebook</label>
                            <input type="text" class="form-control" placeholder="{{ detallePersonaModal.usuarioFacebook }}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Tel&eacute;fono</label>
                            <input type="text" class="form-control" placeholder="{{ detallePersonaModal.telefono }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>&Aacute;rea</label>
                            <input type="text" class="form-control" placeholder="{{ areaModal.nombre }}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Correo electr&oacute;nico</label>
                            <input type="text" class="form-control" placeholder="{{ detallePersonaModal.correo }}" readonly>
                        </div>
                        <div class="form-group" *ngIf="seccionRepresentante">
                            <label>N&uacute;mero Secci&oacute;n</label>
                            <input type="text" class="form-control" placeholder="{{ seccionRepresentante }}" readonly>
                        </div>
                    </div>
                </div>
                <!-- end informacion de usuario -->
                <div class="row">
                    <!-- start direccion usuario -->
                    <div class="col-md-6">
                        <div id="accordionAddress" style="width: 100%;">
                            <div class="card   ">
                                <div class="card-header bg-secondary" id="headingAddress">
                                    <div class="row" style="margin-bottom: -8px;">
                                        <div class="col">
                                            <h5>
                                                <button class="btn btn-link text-white" data-toggle="modal" data-target="#modalDetailPerson" title="Mostrar Detalle de esta Persona">
                                                    Direcci&oacute;n
                                                </button>
                                            </h5>

                                        </div>
                                        <div class="col d-flex justify-content-end align-items-center">
                                            <label style="cursor: pointer;" aria-hidden="true" data-toggle="collapse" data-target="#collapseAddress" aria-expanded="true" aria-controls="collapseAddress">
                                                <i class="fa fa-arrow-circle-down text-white"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div id="collapseAddress" class="collapse" aria-labelledby="headingAddress" data-parent="#accordionAddress">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Calle</label>
                                                    <input type="text" class="form-control" placeholder="{{ detallePersonaModal.idDireccion.calle }}" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label>N&uacute;mero</label>
                                                    <input type="text" class="form-control" placeholder="{{ detallePersonaModal.idDireccion.numero }}" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label>Colonia</label>
                                                    <input type="text" class="form-control" placeholder="{{ detallePersonaModal.idDireccion.colonia }}" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label>Referencia</label>
                                                    <textarea type="text" class="form-control" placeholder="{{ detallePersonaModal.idDireccion.referencia }}" readonly rows="1"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end direccion usuario -->
                    <div class="col-md-6">
                        <!-- start votantes -->
                        <div class="container">
                            <div class="row">
                                <div id="accordionVoter" style="width: 100%;">
                                    <div class="card   ">
                                        <div class="card-header bg-secondary" id="headingVoter">
                                            <div class="row" style="margin-bottom: -8px;">
                                                <div class="col">
                                                    <h5>
                                                        <button class="btn btn-link text-white" data-toggle="modal" data-target="#modalDetailPerson" title="Mostrar Detalle de esta Persona">
                                                            Votantes
                                                        </button>
                                                    </h5>

                                                </div>
                                                <div class="col d-flex justify-content-end align-items-center">
                                                    <label (click)="startRegistroVotante(detallePersonaModal.idPersona);">
                                                        <i class="fa fa-plus-circle text-white" aria-hidden="true" style="cursor: pointer;" data-toggle="modal" data-target="#modalRegistroPersona" title="Registrar nuevo votante"></i>
                                                    </label> &nbsp;
                                                    <label style="cursor: pointer;" aria-hidden="true" data-toggle="collapse" data-target="#collapseVoter" aria-expanded="true" aria-controls="collapseVoter">
                                                        <i class="fa fa-arrow-circle-down text-white"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="collapseVoter" class="collapse" aria-labelledby="headingVoter" data-parent="#accordionVoter">
                                            <div *ngIf="prospectosVotantes" class="card-body">
                                                <div *ngFor="let persona of prospectosVotantes">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <div class="row">
                                                                <div class="col-md-10">
                                                                    {{ persona.idPersona.nombre + ' ' + persona.idPersona.appPaterno + ' ' + persona.idPersona.appMaterno }}
                                                                </div>
                                                                <div class="col d-flex justify-content-end align-items-center" (click)="buildVotantesModal(persona)">
                                                                    <i style="cursor: pointer;" class="fa fa-info-circle" data-toggle="modal" data-target="#modalVotantes"></i>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="!prospectosVotantes" class="card-body">
                                                <label>No hay votantes asignados a est&aacute; persona</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end vontantes -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->


<!-- Modal -->
<div class="modal fade" id="modalVotantes" tabindex="-1" role="dialog" aria-labelledby="modalVotantesTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Persona Votante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="detalleVotanteModal">
                <!-- start informacion de votante -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="{{ detalleVotanteModal.idPersona.nombre + ' ' +  detalleVotanteModal.idPersona.appPaterno + ' ' +  detalleVotanteModal.idPersona.appMaterno }}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Usuario Facebook</label>
                            <input type="text" class="form-control" placeholder="{{ detalleVotanteModal.idPersona.usuarioFacebook }}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Tel&eacute;fono</label>
                            <input type="text" class="form-control" placeholder="{{ detalleVotanteModal.idPersona.telefono }}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Correo electr&oacute;nico</label>
                            <input type="text" class="form-control" placeholder=" {{ detalleVotanteModal.idPersona.correo }} " readonly>
                        </div>
                    </div>
                </div>
                <!-- end informacion de votante -->
            </div>
        </div>
    </div>
</div>


<!-- Modal Registro Persona-->
<div class="modal fade" id="modalRegistroPersona" tabindex="-1" role="dialog" aria-labelledby="modalRegistroPersonaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <!-- start formulario registro de persona -->
        <form *ngIf="personaFormulario" [formGroup]="personaFormulario" (ngSubmit)='validateForm()' style="width: 100%;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row" style="width: 100%;">
                        <div class="col-md-6">
                            <h5 class="modal-title" id="exampleModalLongTitle" *ngIf="validacionPersonRegistro === 1">Registro de Representante General</h5>
                            <h5 class="modal-title" id="exampleModalLongTitle" *ngIf="validacionPersonRegistro === 2">Registro de Representante Seccional</h5>
                            <h5 class="modal-title" id="exampleModalLongTitle" *ngIf="validacionPersonRegistro === 3">Registro de Representante de Casilla</h5>
                            <h5 class="modal-title" id="exampleModalLongTitle" *ngIf="validacionPersonRegistro === 4">Registro de Votante</h5>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div *ngIf="validacionPersonRegistro === 1">
                                    <label class="label">Coordinador Estructura Electoral </label>
                                    <select class="form-control form-control-sm" formControlName="idPersonaAsignada" placeholder="Nombres" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['idPersonaAsignada'].errors }">
                                        <option [value]="-1" selected disabled>Selecciona una opci&oacute;n</option>
                                        <option [value]="coordinadorEstructuraElectoral.idCoordinadorEstructuraGeneral"> {{ coordinadorEstructuraElectoral.idPersona.nombre + ' ' + coordinadorEstructuraElectoral.idPersona.appPaterno + ' ' + coordinadorEstructuraElectoral.idPersona.appMaterno }} </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formControls.idPersonaAsignada.errors">
                                        <div *ngIf="formControls.idPersonaAsignada.errors.required">
                                            Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="formControls.idPersonaAsignada.errors.pattern">
                                            Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="validacionPersonRegistro === 2">
                                    <label class="label">Representante General </label>
                                    <select class="form-control form-control-sm" formControlName="idPersonaAsignada" placeholder="Nombres" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['idPersonaAsignada'].errors }">
                                        <option [value]="-1" selected disabled>Selecciona una opci&oacute;n</option>
                                        <option *ngFor="let item of representanteGeneral" [value]="item.idRepresentanteGeneral"> {{ item.idPersona.nombre + ' ' + item.idPersona.appPaterno + ' ' + item.idPersona.appMaterno }} </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formControls.idPersonaAsignada.errors">
                                        <div *ngIf="formControls.idPersonaAsignada.errors.required">
                                            Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="formControls.idPersonaAsignada.errors.pattern">
                                            Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="validacionPersonRegistro === 3">
                                    <label class="label">Representante Seccional </label>
                                    <select class="form-control form-control-sm" formControlName="idPersonaAsignada" placeholder="Nombres" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['idPersonaAsignada'].errors }">
                                        <option [value]="-1" selected disabled>Selecciona una opci&oacute;n</option>
                                        <option *ngFor="let item of representanteSeccional" [value]="item.idRepresentanteSeccional"> {{ item.idPersona.nombre + ' ' + item.idPersona.appPaterno + ' ' + item.idPersona.appMaterno }} </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formControls.idPersonaAsignada.errors">
                                        <div *ngIf="formControls.idPersonaAsignada.errors.required">
                                            Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="formControls.idPersonaAsignada.errors.pattern">
                                            Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>

                                <div hidden *ngIf="validacionPersonRegistro === 4">
                                    <input [(ngModel)]="personaAsignadaVotante" type="text" class="form-control form-control-sm" formControlName="idPersonaAsignada" placeholder="Nombres" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['idPersonaAsignada'].errors } ">
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label">Nombres</label>
                                <input type="text" class="form-control form-control-sm" formControlName="nombre" placeholder="Nombres" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['nombre'].errors } ">
                                <div class="invalid-feedback" *ngIf="formControls.nombre.errors">
                                    <div *ngIf="formControls.nombre.errors.required">
                                        Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                    <div *ngIf="formControls.nombre.errors.pattern">
                                        Formato invalido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label">Apellido Paterno</label>
                                <input type="text" class="form-control form-control-sm" formControlName="appPaterno" placeholder="Apellido Paterno" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['appPaterno'].errors } ">
                                <div class="invalid-feedback" *ngIf="formControls.appPaterno.errors">
                                    <div *ngIf="formControls.appPaterno.errors.required">
                                        Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                    <div *ngIf="formControls.appPaterno.errors.pattern">
                                        Formato invalido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label">Apellido Materno</label>
                                <input type="text" class="form-control form-control-sm" formControlName="appMaterno" placeholder="Apellido Materno" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['appMaterno'].errors } ">
                                <div class="invalid-feedback" *ngIf="formControls.appMaterno.errors">
                                    <div *ngIf="formControls.appMaterno.errors.required">
                                        Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                    <div *ngIf="formControls.appMaterno.errors.pattern">
                                        Formato invalido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label">Usuario Facebook</label>
                                <input type="text" class="form-control form-control-sm" formControlName="usuarioFacebook" placeholder="usuarioFacebook" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['usuarioFacebook'].errors } ">
                                <div class="invalid-feedback" *ngIf="formControls.usuarioFacebook.errors">
                                    <div *ngIf="formControls.usuarioFacebook.errors.required">
                                        Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label">Correo Electr&oacute;nico</label>
                                <input type="text" class="form-control form-control-sm" formControlName="correo" placeholder="Correo Electr&oacute;nico" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['correo'].errors } ">
                                <div class="invalid-feedback" *ngIf="formControls.correo.errors">
                                    <div *ngIf="formControls.correo.errors.required">
                                        Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                    <div *ngIf="formControls.correo.errors.pattern">
                                        Formato invalido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="validacionPersonRegistro === 2">
                                <label class="label">N&uacute;mero Secci&oacute;n</label>
                                <input type="text" class="form-control form-control-sm" formControlName="numeroSeccion" placeholder="N&uacute;mero Secci&oacute;n" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['numeroSeccion'].errors } ">
                                <div class="invalid-feedback" *ngIf="formControls.numeroSeccion.errors">
                                    <div *ngIf="formControls.numeroSeccion.errors.required">
                                        Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                    <div *ngIf="formControls.numeroSeccion.errors.pattern">
                                        Formato invalido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label">Tel&eacute;fono</label>
                                <input type="text" class="form-control form-control-sm" formControlName="telefono" placeholder="Tel&eacute;fono" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['telefono'].errors } ">
                                <div class="invalid-feedback" *ngIf="formControls.telefono.errors">
                                    <div *ngIf="formControls.telefono.errors.required">
                                        Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                    <div *ngIf="formControls.telefono.errors.pattern">
                                        Formato invalido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label">Calle</label>
                                <input type="text" class="form-control form-control-sm" formControlName="calle" placeholder="Calle" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['calle'].errors } ">
                                <div class="invalid-feedback" *ngIf="formControls.calle.errors">
                                    <div *ngIf="formControls.calle.errors.required">
                                        Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label">N&uacute;mero</label>
                                <input type="text" class="form-control form-control-sm" formControlName="numero" placeholder="N&uacute;mero" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['numero'].errors } ">
                                <div class="invalid-feedback" *ngIf="formControls.numero.errors">
                                    <div *ngIf="formControls.numero.errors.required">
                                        Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label">Colonia</label>
                                <input type="text" class="form-control form-control-sm" formControlName="colonia" placeholder="Colonia" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['colonia'].errors } ">
                                <div class="invalid-feedback" *ngIf="formControls.colonia.errors">
                                    <div *ngIf="formControls.colonia.errors.required">
                                        Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label">Referencia</label>
                                <input type="text" class="form-control form-control-sm" formControlName="referencia" placeholder="Referencia" [ngClass]=" { 'is-invalid': submitted && personaFormulario.controls['referencia'].errors } ">
                                <div class="invalid-feedback" *ngIf="formControls.referencia.errors">
                                    <div *ngIf="formControls.referencia.errors.required">
                                        Campo Requerido <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-sm">Enviar</button>

                </div>
            </div>
        </form>
        <!-- end formulario registro de persona -->
    </div>
</div>